ClientKost/Connected Services/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ServiceKos" />
  <xs:element name="pemesanan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDPemesanan" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NamaPemesan" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NoTelpon" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="WaktuSewa" type="xs:int" />
        <xs:element minOccurs="0" name="IDKamar" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="pemesananResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pemesananResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editPemesanan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDPemesanan" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NamaPemesan" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="No_telpon" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editPemesananResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="editPemesananResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletePemesanan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDPemesanan" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletePemesananResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deletePemesananResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReviewKos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReviewKosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceKos" minOccurs="0" name="ReviewKosResult" nillable="true" type="q1:ArrayOfCekKos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetailKos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DetailKosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceKos" minOccurs="0" name="DetailKosResult" nillable="true" type="q2:ArrayOfDetailKos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pemesanan">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PemesananResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServiceKos" minOccurs="0" name="PemesananResult" nillable="true" type="q3:ArrayOfPemesanan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="kategori" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRegister">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="kategori" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateRegisterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRegister">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteRegisterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataRegist">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DataRegistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServiceKos" minOccurs="0" name="DataRegistResult" nillable="true" type="q4:ArrayOfDataRegister" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>